[Unit]
Description=EaseCI backend application service

[Service]
Type=simple
ExecStart=EASECI_RUN EASECI_HOME
StandardInput=tty-force

[Install]
WantedBy=multi-user.target