[Unit]
Description=EaseCI backend application service

[Service]
Type=simple
ExecStart=/usr/bin/uwsgi --ini /home/karol/dev/ease-ci/easeci-core/uwsgi.ini
StandardInput=tty-force

[Install]
WantedBy=multi-user.target